extend layout
block content
	p Bem-vindo ao tempos-sns, onde se encontram dados relativos ao tempos de espera das emergências por todo o país.
	ul
		for name, i in institutions
			li(href='/excel/#{inst-ids[i]}')= name