doctype
html
  head
    title tempos-sns
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 tempos-sns
    .container
      .main-content
        block content
    footer
      p Running on node with Express and Jade, by José Castelo (<a href="mailto:jbcastelo@hotmail.com">jbcastelo@hotmail.com</a>)